@page
@model WebApplication1.Pages.InfraccionesModel
@{
	ViewData["Title"] = "Infracciones";
}
<h1>@ViewData["Title"]</h1>

<select name="Cars" size="20" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option value="Merceders"> Merceders </option>
</select>