<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="localhost" connectionString="Data Source=localhost\SQLEXPRESS; Initial Catalog=DireccionTransito; Integrated Security=True" />
		<add name="azure" connectionString="Server=tcp:electivaprogramacion.database.windows.net,1433;Initial Catalog=DireccionTransito;Persist Security Info=False;User ID=equipo;Password=Pancho!Milo1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
</configuration>